<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="form-consulta-component">
  <template>
    <style>
      :host {
        display: block;
      }

/*---------------------------------ACCORDION STYLES---------------------------------*/

      /*Style for the container where the accordion is put*/
      .wrapper{
        width: 100%;
        margin: 40px auto;
      }

      /*styles for section tabs
      .tab-section{
        margin: 40px auto;
        width: 100%;
      }*/

      /*Styles for the options that the accordion has*/
      .tab-area{
        position: relative;
        width: 100%;
        color: #444;
      }

      /*styles for checkbox that are in the accordion*/
      .input{
        position: absolute;
        opacity: 0;
        z-index: -1;
      }

      /*styles for the titles shown on the accordion*/
      .label{
        background: lightgray;
        border: 1px solid #fff;
        cursor: pointer;
        display: block;
        font-size: 18px;
        line-height: 2;
        padding: 0.6em;
        position: relative;
        transition: all 0.3s ease 0s;
        color: #333;

      }

      /*styles shown when you hover over an accordion title*/
      .label:hover{
        background: #d9e2ec69;
        color: #333;
      }

      /*styles Container where the information is displayed (Data forms)*/
      .tab-content{
        color: #fff;
        max-height: 0;
        overflow: hidden;
        padding: 0 0 0 15px;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
        font-size: 15px;
        line-height: 30px;
      }

      /*Maximum height style defined for the container where the form will be*/
      input:checked ~ .tab-content{
        max-height: 500em;
      }

      /*The styles are combined and the "+" icon combined*/
      .label:before, .label:after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: #fff;
        transition: transform 0.25s ease-out;
      }

      /*A vertical line is styled on the right side of the title in the accordion options "|" */
      .label:before{
        top: 15px;
        right: 25px;
        width: 3px;
        height: 20px;
      }

      /*A vertical line is styled on the horizontal side of the title in the accordion options "-" */
      .label:after{
        top: 40%;
        right: 15px;
        width: 23px;
        height: 3px;
        margin-top: -2;
      }

/*---------------------------------FORM STYLES---------------------------------*/

      /*Estylo for form container*/
      .container{
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }
      
      /*styles for the column container where labels and text boxes are located*/
      .row{ 
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      /*styles for text boxes to be small*/
      .txt-box-small{
        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      /*style for the catalog of options H & M*/
      .option-values{
        width: 30%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }


      /*style for large text boxes*/
      .txt-box-large{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      /*style for a cell to align to the left occupying 50% of column space*/
      .col-1{
        float: left;
        width: 50%;
        text-align: left;
      }

      /*style for a cell to align to the right occupying 50% of column space*/
      .col-2{
        float: right;
        width: 50%;
        text-align: right;
      }

      /*style so that a cell aligns to the left and occupies 100% of the column space*/
      .col-3{
        float: left;
        width: 100%;
        text-align: left;
      }

      /*style so that a cell aligns to the left and occupies 30% of the column space*/
      .col-5{
        float: left;
        width: 30%;
        text-align: left;
      }

      /*style for first choice of buttons*/
      .btn{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 15px; 
        color: #08948e;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        text-decoration: none;
        width: 15%;
        text-align: center;
      }

      /*style for first button option shown by hovering over the button*/
      .btn:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }

      /*style label align top 100%*/
      .div-label{
        display:inline-block;
        width:100%; 
      }

      /*style input text align bottom*/
      .div-text{
        display:inline-block; 
        width:100%; 
        align: bottom;
      }
    </style>

    <!--Start My Component-->
    <div class="wrapper">
      <div class="tab-section">

        <div class="tab-area">
          <input type="checkbox" id="tab1" name="tabs" class="input">
          <label for="tab1" class="label"><img src="../bower_components/polymer/img/resume2.png" alt="resume-ico"> Datos del Empleado</label>
          <div class="tab-content">

            <!--Start My Form-->
            <div class="container">

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-n-empleado">Numero de Empleado :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-n-empleado txt-box-small" placeholder="Numero de Empleado" value="E1001">
                  </div>

                </div>

                <div class="col-2">

                  <div class="div-label">
                    <label for="lbl-a-servicio" style="align: left;">Año de Servicio: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-a-servicio txt-box-small" placeholder="Año de Servicio" disabled="true" value="22/06/1996">
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-3">

                  <div class="div-label">
                    <label for="lbl-nombre">Nombre :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-nombre txt-box-large" placeholder="Nombre" value="Luis Miguel">
                  </div>
                  
                </div>
              </div>

              <div class="row">
                <div class="col-3">

                  <div class="div -label">
                    <label for="lbl-a-paterno">Apellido Paterno :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-a-paterno txt-box-large" placeholder="Apellido Paterno" value="Garcia">
                  </div>

                </div>
              </div>

              <div class="row">

                <div class="col-3">
                  <div class="div-label">
                    <label for="lbl-a-materno">Apellido Materno :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-a-materno txt-box-large" placeholder="Apellido Materno" value="Zacarias">
                  </div>

                </div>

              </div>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-sexo">Sexo :</label>
                  </div>

                  <div class="div-text">
                    <select class="option-values">
                      <option value="Hombre">Hombre</option>
                      <option value="Mujer">Mujer</option>
                    </select>
                  </div>

                </div>
  
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-f-nacimiento">Fecha de Nacimiento: </label>
                  </div>

                  <div class="div-text">
                    <input type="date" class="txt-f-nacimiento txt-box-small" placeholder="Fecha de Nacimiento">
                  </div>                  
                  
                </div>
              </div>

              <div class="row">

                <div class="col-5">
                  <label for="lbl-n-empleado">RFC :</label>
                  <input type="text" class="txt-a-servicio txt-box-large" placeholder="RFC">
                </div>

                <div class="col-5">
                  <label for="lbl-a-servicio">Extranjero: </label>
                  <input type="checkbox" class="txt-a-servicio txt-box-large">
                </div>
                
                <div class="col-5">
                  <label for="lbl-a-servicio">Vigencia Forma Migratoria: </label>
                  <input type="text" class="txt-a-servicio txt-box-large" placeholder="Vigencia Forma Migratoria">
                </div>

              </div>

              <div class="row">

                  <div class="col-3">

                    <div class="div-label">
                      <label for="lbl-direccion">Dirección :</label>
                    </div>

                    <div class="div-text">
                      <input type="text" class="txt-direccion txt-box-large" placeholder="Dirección" value="Ciudad de Mexico, Del. Miguel Hidalgo, DF">
                    </div>  

                  </div>

              </div>

              <hr>
              <h1>Contacto</h1>

              <div class="row">

                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-t-casa">Tel. Casa :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-t-casa txt-box-small" placeholder="Tel. Casa " style="width: 90%;">
                  </div>
                  
                </div>
  
                <div class="col-1">
                  <label for="lbl-a-servicio">Contacto de Emergencia: </label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="Vigencia Forma Migratoria" style="width: 80%">
                </div>

              </div>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-t-celular">Tel. Celular :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-t-celular txt-box-small" placeholder="Tel. Celular" style="width: 90%">
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-3">

                  <div class="div-label">
                    <a href="#section-one" class="btn">Guardar</a>
                  </div>

                </div>
              </div>

            </div>
            <!--End My Form-->
          </div>
        </div>

        <div class="tab-area">
            <input type="checkbox" id="tab2" name="tabs" class="input">
            <label for="tab2" class="label"><img src="../bower_components/polymer/img/bank2.png" alt="resume-ico"> Información Bancaria</label>
            <div class="tab-content">

              <!--Start My Form-->
              <div class="container">

                <div class="row">
                  <div class="col-3">

                    <div class="div-label">
                      <label for="lbl-banco">Banco :</label>
                    </div>

                    <div class="div-text">
                      <input type="text" class="txt-banco txt-box-small" placeholder="Banco" style="width: 90%">
                    </div>
                    
                  </div>
                </div>

                <div class="row">

                  <div class="col-1">

                    <div class="div-label">
                      <label for="lbl-cuenta">Cuenta:</label>
                    </div>

                    <div class="div-text">
                      <input type="text" class="txt-cuenta txt-box-small" placeholder="Cuenta" style="width: 80%;">
                    </div>

                  </div>
      
                  <div class="col-1">

                    <div class="div-label">
                      <label for="lbl-clave">Clave: </label>
                    </div>

                    <div class="div-text">
                      <input type="text" class="txt-clave txt-box-small" placeholder="Clave" style="width: 80%">
                    </div>
                    
                    
                  </div>

                </div>

                <div class="row">
                  <div class="col-3">
    
                    <div class="div-label">
                      <a href="#section-one" class="btn">Guardar</a>
                    </div>
    
                  </div>
                </div>
              </div>
              <!--End My Form-->

            </div>
        </div>


        <div class="tab-area">
            <input type="checkbox" id="tab3" name="tabs" class="input">
            <label for="tab3" class="label"><img src="../bower_components/polymer/img/contract2.png" alt="resume-ico"> Contrato</label>
            <div class="tab-content">

              <!--Start My Form-->
              <div class="container">
                  <div class="row">
                    <div class="col-1">

                      <div class="div-label">
                        <label for="lbl-n-contraro">Numero de Contrato : </label>
                      </div>

                      <div class="div-text">
                        <input type="text" class="txt-n-contrato txt-box-small" placeholder="Numero de Contrato" style="width: 80%;">
                      </div>

                    </div>
          
                    <div class="col-1">

                      <div class="div-label">
                        <label for="lbl-p-empleado"> Puesto de Empleado : </label>
                      </div>

                      <div class="div-text">
                        <input type="text" class="txt-p-empleado txt-box-small" placeholder="Puesto de Empleado" style="width: 80%">
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-1">

                      <div class="div-label">
                        <label for="lbl-f-contratacion">Fecha de Contratación:</label>
                      </div>

                      <div class="div-text">
                        <input type="text" class="txt-f-contratacion txt-box-small" placeholder="Fecha de Contratación" style="width: 80%;">
                      </div>
 
                    </div>
            
                    <div class="col-1">

                      <div class="div-label">
                        <label for="lbl-p-renovacion">Periodicidad de Renovacion: </label>
                      </div>

                      <div class="div-text">
                        <input type="text" class="txt-p-renovacion txt-box-small" placeholder="Periodicidad de Renovacion" style="width: 80%">
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-1">

                      <div class="div-label">
                        <label for="lbl-fiu-contrato">Fecha Inicio de Ultimo Contrato:</label>
                      </div>

                      <div class="div-text">
                        <input type="text" class="txt-fiu-contrato txt-box-small" placeholder="Fecha Inicio de Ultimo Contrato" style="width: 80%;">
                      </div>

                    </div>
            
                    <div class="col-1">

                      <div class="div-labe">
                        <label for="lbl-f-vencimiento">Fecha de Vencimiento: </label>
                      </div>

                      <div class="div-text">
                        <input type="text" class="txt-f-vencimiento txt-box-small" placeholder="Fecha de Vencimiento" style="width: 80%">
                      </div>
                      
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-3">
      
                      <div class="div-label">
                        <a href="#section-one" class="btn">Guardar</a>
                      </div>
      
                    </div>
                  </div>
              </div>
              <!--End My Form-->

            </div>
        </div>

        <div class="tab-area">
            <input type="checkbox" id="tab4" name="tabs" class="input">
            <label for="tab4" class="label"><img src="../bower_components/polymer/img/handshake2.png" alt="resume-ico"> Esquema</label>
            <div class="tab-content">

            <!--Start My Form-->
            <div class="container">
              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-t-empleado"> Tipo de Esquema : </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-t-empleado txt-box-small" placeholder="Tipo de Esquema " style="width: 80%;">
                  </div>
                  
                </div>
        
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-e-asignada"> Empresa Asignada: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-e-asignada txt-box-small" placeholder="Empresa Asignada" style="width: 80%">
                  </div>  
                  
                </div>
              </div>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-e-empleado"> Estatus del Empleado:</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-e-empleado txt-box-small" placeholder="Estatus del Empleado" style="width: 80%;">
                  </div>
                  
                  
                </div>
          
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-f-asignacion"> Fecha de Asignación: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-f-asignacion txt-box-small" placeholder="Fecha de Asignación" style="width: 80%">
                  </div>
                                 
                </div>
              </div>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-u-negocio"> Unidad de Negocio :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-u-negocio txt-box-small" placeholder="Unidad de Negocio" style="width: 80%;">
                  </div>
                  
                </div>
          
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-r-empleado"> Reemplazo del Empleado: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-r-empleado txt-box-small" placeholder="Reemplazo del Empleado" style="width: 80%">
                  </div>
                  
                </div>
              </div>

              <hr>
              <h1>Cliente de Facturación</h1>

              <div class="row">
                <div class="col-1">
                  <div class="div-label">
                    <label for="lbl-r-social"> Razón Social:</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-r-social txt-box-small" placeholder="Razón Social" style="width: 80%;">
                  </div>
                </div>
            
                <div class="col-1">
                  <div class="div-label">
                    <label for="lbl-s-cuenta"> Sub Cuenta: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-s-cuenta txt-box-small" placeholder="Sub Cuenta" style="width: 80%">
                  </div>
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-1">
                  <h1>IronBit APPS</h1>

                  <div class="div-label">
                    <label for="lbl-ims-mensual"> IMSS Bruto Mensual :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-ims-mensual txt-box-small" placeholder="IMSS Bruto Mensual" style="width: 80%;">
                  </div>
                  
                </div>
            
                <div class="col-1">
                  <h1>Capital People</h1>

                  <div class="div-label">
                    <label for="lbl-imss-mensual"> IMSS Bruto Mensual: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-imss-mensual txt-box-small" placeholder="IMSS Bruto Mensual" style="width: 80%">
                  </div>
                  
                </div>
              </div>

              <div class="row">
                <div class="col-1">
                  <label for="lbl-n-empleado"> IMSS Neto Mensual :</label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="IMSS Neto Mensual " style="width: 80%;">
                </div>
              
                <div class="col-1">
                  <label for="lbl-a-servicio"> IMSS Neto Mensual: </label>
                  <input type="text" class="txt-a-servicio txt-box-small" placeholder="IMSS Neto Mensual" style="width: 80%">
                </div>
              </div>

              <div class="row">

                <div class="col-1">
                  <div class="div-label">
                    <label for="lbl-bp-mensual"> Bono Puntualidad Mensual :</label>
                  </div>
                  
                  <div class="div-text">
                    <input type="text" class="txt-bp-mensual txt-box-small" placeholder="Bono Puntualidad Mensual " style="width: 80%;">
                  </div>
                </div>
                
                <div class="col-1">
                  <div class="div-label">
                    <label for="lbl-bbpp-mensual"> Bono Puntualidad Mensual: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-bbpp-mensual txt-box-small" placeholder="Bono Puntualidad Mensual" style="width: 80%">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-ba-mensual"> Bono Asistencia Mensual :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-bbaa-mensual txt-box-small" placeholder="Bono Asistencia Mensual" style="width: 80%;">
                  </div>     
                  
                </div>
                  
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-bbaa-mensual"> Bono Asistencia Mensual: </label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-bbaa-mensual txt-box-small" placeholder="Bono Asistencia Mensual" style="width: 80%">
                  </div>
                  
                </div>
              </div>

              <div class="row">

                <div class="col-1">
                  <div class="div-label">
                      <label for="lbl-b-mensual"> Bruto Mensual :</label>
                  </div>

                  <div class="div-text">
                    <input type="text" class="txt-b-mensual txt-box-small" placeholder="Bruto Mensual " style="width: 80%;">
                  </div>
                </div>
                    
                <div class="col-1">
                  <div class="div-label">
                      <label for="lbl-bb-mensual"> Bruto Mensual: </label>
                  </div>

                  <div class="div-text">
                      <input type="text" class="txt-bb-mensual txt-box-small" placeholder="Bruto Mensual" style="width: 80%">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-np-mensual"> Neto Pactado Mensual :</label>
                  </div>
                  
                  <div class="div-text">
                    <input type="text" class="txt--Np-mensual txt-box-small" placeholder="Neto Pactado Mensual" style="width: 80%;">
                  </div>
                  
                </div>
                    
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-nnpp-mensual"> Neto Pactado Mensual: </label>
                  </div>
                  
                  <div class="div-text">
                    <input type="text" class="txt-nP-mensual txt-box-small" placeholder="Neto Pactado Mensual" style="width: 80%">
                  </div>
                  
                </div>
              </div>

              <hr>

              <div class="row">
                <div class="col-1">

                  <div class="div-label">
                    <label for="lbl-np-total"> Neto Pactado Total :</label>
                  </div>
                  
                  <div class="div-text">
                    <input type="text" class="txt-np-total txt-box-small" placeholder="Neto Pactado Total" style="width: 80%;">
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-3">
  
                  <div class="div-label">
                    <a href="#section-one" class="btn">Guardar</a>
                  </div>
  
                </div>
              </div>

            </div>
            <!--End My Form-->

            </div>
        </div>
        
      </div>
    </div>
    <!--End My Component-->

  </template>

  <script>
    /**
     * `form-consulta-component`
     * Formulario de consulta
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormConsultaComponent extends Polymer.Element {
      static get is() { return 'form-consulta-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'form-consulta-component'
          }
        };
      }
    }

    window.customElements.define(FormConsultaComponent.is, FormConsultaComponent);
  </script>
</dom-module>
